body {
	background-color: #333;
	margin: 0;
	padding: 0;
	display: grid;
	grid-gap: 5px;
	grid-template: repeat(3,1fr)/repeat(4,1fr);
	
}
.block {
	background-color: yellow;
	text-align: center;
	font-family: "Faster One";
	font-size: 1.5rem;
}